{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2024-03-21",
    "endpointPrefix":"iam",
    "globalEndpoint":"iam.amazonaws.com",
    "protocol":"query",
    "serviceAbbreviation":"IAM",
    "serviceFullName":"Identity and Access Management",
    "serviceId":"IAM",
    "signatureVersion":"v4",
    "uid":"iam-2024-03-21",
    "xmlNamespace":"https://iam.amazonaws.com/doc/2024-03-21/"
  },
  "operations":{
    "AttachGroupPolicy":{
      "name":"AttachGroupPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachGroupPolicyRequest"}
    },
    "CreateGroup":{
      "name":"CreateGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateGroupRequest"},
      "output":{
        "shape":"CreateGroupResponse",
        "resultWrapper":"CreateGroupResult"
      }
    },
    "CreatePolicy":{
      "name":"CreatePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePolicyRequest"},
      "output":{
        "shape":"CreatePolicyResponse",
        "resultWrapper":"CreatePolicyResult"
      }
    },
    "CreateUser":{
      "name":"CreateUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateUserRequest"},
      "output":{
        "shape":"CreateUserResponse",
        "resultWrapper":"CreateUserResult"
      }
    },
    "DeleteGroup":{
      "name":"DeleteGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteGroupRequest"}
    },
    "DeletePolicy":{
      "name":"DeletePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePolicyRequest"}
    },
    "DeleteUser":{
      "name":"DeleteUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUserRequest"}
    },
    "DetachGroupPolicy":{
      "name":"DetachGroupPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachGroupPolicyRequest"}
    },
    "GetGroup":{
      "name":"GetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetGroupRequest"},
      "output":{
        "shape":"GetGroupResponse",
        "resultWrapper":"GetGroupResult"
      }
    },
    "GetPolicy":{
      "name":"GetPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPolicyRequest"},
      "output":{
        "shape":"GetPolicyResponse",
        "resultWrapper":"GetPolicyResult"
      }
    },
    "GetService":{
      "name":"GetService",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetServiceRequest"},
      "output":{
        "shape":"GetServiceResponse",
        "resultWrapper":"GetServiceResult"
      }
    },
    "GetUser":{
      "name":"GetUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetUserRequest"},
      "output":{
        "shape":"GetUserResponse",
        "resultWrapper":"GetUserResult"
      }
    },
    "ListGroupPolicies":{
      "name":"ListGroupPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListGroupPoliciesRequest"},
      "output":{
        "shape":"ListGroupPoliciesResponse",
        "resultWrapper":"ListGroupPoliciesResult"
      }
    },
    "ListGroups":{
      "name":"ListGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListGroupsRequest"},
      "output":{
        "shape":"ListGroupsResponse",
        "resultWrapper":"ListGroupsResult"
      }
    },
    "ListPolicies":{
      "name":"ListPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPoliciesRequest"},
      "output":{
        "shape":"ListPoliciesResponse",
        "resultWrapper":"ListPoliciesResult"
      }
    },
    "ListProjectUsers":{
      "name":"ListProjectUsers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"ListProjectUsersResponse",
        "resultWrapper":"ListProjectUsersResult"
      }
    },
    "ListServices":{
      "name":"ListServices",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListServicesRequest"},
      "output":{
        "shape":"ListServicesResponse",
        "resultWrapper":"ListServicesResult"
      }
    },
    "ListUsers":{
      "name":"ListUsers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"ListUsersResponse",
        "resultWrapper":"ListUsersResult"
      }
    },
    "UpdatePolicy":{
      "name":"UpdatePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePolicyRequest"},
      "output":{
        "shape":"UpdatePolicyResponse",
        "resultWrapper":"UpdatePolicyResult"
      }
    },
    "UpdateUser":{
      "name":"UpdateUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateUserRequest"},
      "output":{
        "shape":"UpdateUserResponse",
        "resultWrapper":"UpdateUserResult"
      }
    },
    "UploadServerCertificate":{
      "name":"UploadServerCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UploadServerCertificateRequest"},
      "output":{
        "shape":"UploadServerCertificateResponse",
        "resultWrapper":"UploadServerCertificateResult"
      }
    },
    "DeleteServerCertificate":{
      "name":"DeleteServerCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteServerCertificateRequest"}
    },
    "ListServerCertificates":{
      "name":"ListServerCertificates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListServerCertificatesRequest"},
      "output":{
        "shape":"ListServerCertificatesResponse",
        "resultWrapper":"ListServerCertificatesResult"
      }
    }
  },
  "shapes":{
    "actionListType":{
      "type":"list",
      "member":{"shape":"stringType"}
    },
    "arnType":{
      "type":"string",
      "max":2048,
      "min":20
    },
    "AttachGroupPolicyRequest":{
      "type":"structure",
      "required":[
        "GroupName",
        "PolicyArn"
      ],
      "members":{
        "GroupName":{
          "shape":"groupNameType"
        },
        "PolicyArn":{
          "shape":"arnType"
        }
      }
    },
    "booleanType":{"type":"boolean"},
    "CreateGroupRequest":{
      "type":"structure",
      "required":[
        "GroupName",
        "Type"
      ],
      "members":{
        "GroupName":{
          "shape":"groupNameType"
        },
        "Type":{
          "shape":"grantsTypeType"
        }
      }
    },
    "CreateGroupResponse":{
      "type":"structure",
      "members":{
        "Group":{
          "shape":"Group"
        }
      }
    },
    "CreatePolicyRequest":{
      "type":"structure",
      "required":[
        "PolicyName",
        "Document",
        "Type"
      ],
      "members":{
        "PolicyName":{
          "shape":"policyNameType"
        },
        "Document":{
          "shape":"policyDocumentType"
        },
        "Description":{
          "shape":"policyDescriptionType"
        },
        "Type":{
          "shape":"grantsTypeType"
        }
      }
    },
    "CreatePolicyResponse":{
      "type":"structure",
      "members":{
        "Policy":{
          "shape":"Policy"
        }
      }
    },
    "CreateUserRequest":{
      "type":"structure",
      "required":[
        "UserName",
        "DisplayName",
        "Password"
      ],
      "members":{
        "UserName":{
          "shape":"userNameType"
        },
        "DisplayName":{
          "shape":"stringType"
        },
        "Password":{
          "shape":"stringType"
        },
        "Email":{
          "shape":"stringType"
        },
        "OtpRequired":{
          "shape":"booleanType"
        }
      }
    },
    "CreateUserResponse":{
      "type":"structure",
      "members":{
        "User":{
          "shape":"User"
        }
      }
    },
    "dateType":{"type":"timestamp"},
    "DeleteGroupRequest":{
      "type":"structure",
      "required":["GroupName"],
      "members":{
        "GroupName":{
          "shape":"groupNameType"
        }
      }
    },
    "DeletePolicyRequest":{
      "type":"structure",
      "required":["PolicyName"],
      "members":{
        "PolicyName":{
          "shape":"policyNameType"
        }
      }
    },
    "DeleteUserRequest":{
      "type":"structure",
      "required":["UserName"],
      "members":{
        "UserName":{
          "shape":"userNameType"
        }
      }
    },
    "DetachGroupPolicyRequest":{
      "type":"structure",
      "required":[
        "GroupName",
        "PolicyArn"
      ],
      "members":{
        "GroupName":{
          "shape":"groupNameType"
        },
        "PolicyArn":{
          "shape":"arnType"
        }
      }
    },
    "GetGroupRequest":{
      "type":"structure",
      "required":["GroupArn"],
      "members":{
        "GroupArn":{
          "shape":"arnType"
        }
      }
    },
    "GetGroupResponse":{
      "type":"structure",
      "members":{
        "Group":{
          "shape":"Group"
        },
        "Users":{
          "shape":"userListType"
        }
      }
    },
    "GetPolicyRequest":{
      "type":"structure",
      "required":["PolicyArn"],
      "members":{
        "PolicyArn":{
          "shape":"arnType"
        }
      }
    },
    "GetPolicyResponse":{
      "type":"structure",
      "members":{
        "Policy":{
          "shape":"PolicyFullInfo"
        }
      }
    },
    "GetServiceRequest":{
      "type":"structure",
      "required":["ServiceName"],
      "members":{
        "ServiceName":{
          "shape":"stringType"
        }
      }
    },
    "GetServiceResponse":{
      "type":"structure",
      "members":{
        "Service":{
          "shape":"Service"
        },
        "Actions":{
          "shape":"actionListType"
        }
      }
    },
    "GetUserRequest":{
      "type":"structure",
      "required":["UserName"],
      "members":{
        "UserName":{
          "shape":"userNameType"
        }
      }
    },
    "GetUserResponse":{
      "type":"structure",
      "members":{
        "User":{
          "shape":"User"
        }
      }
    },
    "grantsOwnerType":{
      "type":"string",
      "enum":[
        "provider",
        "self"
      ]
    },
    "grantsTypeType":{
      "type":"string",
      "enum":[
        "global",
        "project"
      ]
    },
    "Group":{
      "type":"structure",
      "members":{
        "GroupArn":{
          "shape":"arnType"
        },
        "GroupId":{
          "shape":"idType"
        },
        "GroupName":{
          "shape":"groupNameType"
        },
        "Owner":{
          "shape":"grantsOwnerType"
        },
        "Type":{
          "shape":"grantsTypeType"
        },
        "CreateDate":{
          "shape":"dateType"
        }
      }
    },
    "groupListType":{
      "type":"list",
      "member":{"shape":"Group"}
    },
    "groupNameType":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[\\w+=,.@-]+"
    },
    "idType":{
      "type":"string",
      "max":128,
      "min":16,
      "pattern":"[\\w]+"
    },
    "ListGroupPoliciesRequest":{
      "type":"structure",
      "required":["GroupArn"],
      "members":{
        "GroupArn":{
          "shape":"arnType"
        }
      }
    },
    "ListGroupPoliciesResponse":{
      "type":"structure",
      "members":{
        "Policies":{
          "shape":"policyListType"
        }
      }
    },
    "ListGroupsRequest":{
      "type":"structure",
      "members":{
        "Owner":{
          "shape":"grantsOwnerType"
        },
        "Type":{
          "shape":"grantsTypeType"
        }
      }
    },
    "ListGroupsResponse":{
      "type":"structure",
      "members":{
        "Groups":{
          "shape":"groupListType"
        }
      }
    },
    "ListPoliciesRequest":{
      "type":"structure",
      "members":{
        "Owner":{
          "shape":"grantsOwnerType"
        },
        "Type":{
          "shape":"grantsTypeType"
        }
      }
    },
    "ListPoliciesResponse":{
      "type":"structure",
      "members":{
        "Policies":{
          "shape":"policyListType"
        }
      }
    },
    "ListProjectUsersResponse":{
      "type":"structure",
      "members":{
        "Users":{
          "shape":"userListType"
        }
      }
    },
    "ListServicesRequest":{
      "type":"structure",
      "members":{
        "Type":{
          "shape":"grantsTypeType"
        }
      }
    },
    "ListServicesResponse":{
      "type":"structure",
      "members":{
        "Services":{
          "shape":"serviceListType"
        }
      }
    },
    "ListUsersResponse":{
      "type":"structure",
      "members":{
        "Users":{
          "shape":"userListType"
        }
      }
    },
    "Policy":{
      "type":"structure",
      "members":{
        "PolicyArn":{
          "shape":"arnType"
        },
        "PolicyId":{
          "shape":"idType"
        },
        "PolicyName":{
          "shape":"policyNameType"
        },
        "Owner":{
          "shape":"grantsOwnerType"
        },
        "Type":{
          "shape":"grantsTypeType"
        },
        "Description":{
          "shape":"policyDescriptionType"
        },
        "CreateDate":{
          "shape":"dateType"
        },
        "UpdateDate":{
          "shape":"dateType"
        }
      }
    },
    "PolicyFullInfo":{
      "type":"structure",
      "members":{
        "PolicyArn":{
          "shape":"arnType"
        },
        "PolicyId":{
          "shape":"idType"
        },
        "PolicyName":{
          "shape":"policyNameType"
        },
        "Owner":{
          "shape":"grantsOwnerType"
        },
        "Type":{
          "shape":"grantsTypeType"
        },
        "Description":{
          "shape":"policyDescriptionType"
        },
        "CreateDate":{
          "shape":"dateType"
        },
        "UpdateDate":{
          "shape":"dateType"
        },
        "Document":{
          "shape":"policyDocumentType"
        }
      }
    },
    "policyDescriptionType":{
      "type":"string",
      "max":1000
    },
    "policyDocumentType":{
      "type":"string"
    },
    "policyListType":{
      "type":"list",
      "member":{"shape":"Policy"}
    },
    "policyNameType":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[\\w+=,.@-]+"
    },
    "projectLinksListType":{
      "type":"list",
      "member":{"shape":"projectLinkType"}
    },
    "projectLinkType":{
      "type":"structure",
      "members":{
        "ProjectArn":{
          "shape":"arnType"
        },
        "ProjectId":{
          "shape":"idType"
        },
        "ProjectName":{
          "shape":"projectNameType"
        }
      }
    },
    "projectNameType":{
      "type":"string",
      "max":40,
      "min":1,
      "pattern":"^[a-zA-Z][a-zA-Z0-9_.-]*$"
    },
    "Service":{
      "type":"structure",
      "members":{
        "ServiceName":{
          "shape":"stringType"
        },
        "Type":{
          "shape":"grantsTypeType"
        }
      }
    },
    "serviceListType":{
      "type":"list",
      "member":{"shape":"Service"}
    },
    "stringType":{"type":"string"},
    "UpdatePolicyRequest":{
      "type":"structure",
      "required":[
        "PolicyName"
      ],
      "members":{
        "PolicyName":{
          "shape":"policyNameType"
        },
        "Document":{
          "shape":"policyDocumentType"
        },
        "Description":{
          "shape":"policyDescriptionType"
        }
      }
    },
    "UpdatePolicyResponse":{
      "type":"structure",
      "members":{
        "Policy":{
          "shape":"Policy"
        }
      }
    },
    "UpdateUserRequest":{
      "type":"structure",
      "required":[
        "UserName"
      ],
      "members":{
        "UserName":{
          "shape":"userNameType"
        },
        "DisplayName":{
          "shape":"stringType"
        },
        "Enabled":{
          "shape":"booleanType"
        },
        "Email":{
          "shape":"stringType"
        },
        "Phone":{
          "shape":"stringType"
        },
        "Password":{
          "shape":"stringType"
        },
        "OtpRequired":{
          "shape":"booleanType"
        },
        "DisableOtp":{
          "shape":"booleanType"
        }
      }
    },
    "UpdateUserResponse":{
      "type":"structure",
      "members":{
        "User":{
          "shape":"User"
        }
      }
    },
    "User":{
      "type":"structure",
      "members":{
        "UserArn":{
          "shape":"arnType"
        },
        "UserId":{
          "shape":"idType"
        },
        "UserName":{
          "shape":"userNameType"
        },
        "Login":{
          "shape":"stringType"
        },
        "DisplayName":{
          "shape":"stringType"
        },
        "Enabled":{
          "shape":"booleanType"
        },
        "UpdateDate":{
          "shape":"dateType"
        },
        "LastLoginDate":{
          "shape":"dateType"
        },
        "IdentityProvider":{
          "shape":"stringType"
        },
        "Projects":{
          "shape":"projectLinksListType"
        },
        "SecretKey":{
          "shape":"stringType"
        },
        "Email":{
          "shape":"stringType"
        },
        "Phone":{
          "shape":"stringType"
        },
        "OtpRequired":{
          "shape":"booleanType"
        }
      }
    },
    "userListType":{
      "type":"list",
      "member":{"shape":"User"}
    },
    "userNameType":{
      "type":"string",
      "max":40,
      "min":1,
      "pattern":"^[a-zA-Z][a-zA-Z0-9_.-]*$"
    },
    "UploadServerCertificateRequest":{
      "type":"structure",
      "required":[
        "ServerCertificateName",
        "CertificateBody",
        "PrivateKey"
      ],
      "members":{
        "ServerCertificateName":{
          "shape":"serverCertificateNameType"
        },
        "CertificateBody":{
          "shape":"certificateBodyType"
        },
        "PrivateKey":{
          "shape":"privateKeyType"
        },
        "CertificateChain":{
          "shape":"certificateChainType"
        }
      }
    },
    "UploadServerCertificateResponse":{
      "type":"structure",
      "members":{
        "ServerCertificateMetadata":{
          "shape":"ServerCertificateMetadata"
        }
      }
    },
    "serverCertificateNameType":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[\\w+=,.@-]+"
    },
    "certificateBodyType":{
      "type":"string",
      "max":16384,
      "min":1,
      "pattern":"[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+"
    },
    "privateKeyType":{
      "type":"string",
      "max":16384,
      "min":1,
      "pattern":"[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+",
      "sensitive":true
    },
    "certificateChainType":{
      "type":"string",
      "max":2097152,
      "min":1,
      "pattern":"[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+"
    },
    "ServerCertificateMetadata":{
      "type":"structure",
      "required":[
        "ServerCertificateName",
        "ServerCertificateId",
        "Arn"
      ],
      "members":{
        "ServerCertificateName":{
          "shape":"serverCertificateNameType",
          "documentation":"<p>The name that identifies the server certificate.</p>"
        },
        "ServerCertificateId":{
          "shape":"idType"
        },
        "Arn":{
          "shape":"arnType"
        },
        "UploadDate":{
          "shape":"dateType"
        },
        "Expiration":{
          "shape":"dateType"
        }
      }
    },
    "DeleteServerCertificateRequest":{
      "type":"structure",
      "required":["ServerCertificateName"],
      "members":{
        "ServerCertificateName":{
          "shape":"serverCertificateNameType"
        }
      }
    },
    "ListServerCertificatesRequest":{
      "type":"structure",
      "members":{}
    },
    "ListServerCertificatesResponse":{
      "type":"structure",
      "required":["ServerCertificateMetadataList"],
      "members":{
        "ServerCertificateMetadataList":{
          "shape":"serverCertificateMetadataListType"
        }
      }
    },
    "serverCertificateMetadataListType":{
      "type":"list",
      "member":{"shape":"ServerCertificateMetadata"}
    }
  },
  "documentation":"Identity and Access Management"
}
